:root {
  --bg-color: #444444;
  --main-color: #ffffff;
  --secondary-color: #979797;
}

body {
  background-color: var(--bg-color);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;;
}

.main-heading {
  color: var(--main-color);
  font-size: 80px;
  text-align: center;
  margin-top: -450px;
  margin-bottom: 50px;
  letter-spacing: 45px;
}

.main {
  margin-top: -250px;
}

.active {
  font-size: 22px;
}

.nav-link {
  color: var(--main-color);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.quote {
  width: 30%;
  color: var(--main-color);
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}

.image {
  width: 1100px;
}

.social {
  width: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-icon {
  margin-bottom: 100px;
}

.mtop {
  margin-top: 300px;
}

.footer {
  padding: 48px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-heading {
  font-size: 40px;
  color:var(--main-color);
  letter-spacing: 45px;
  padding-bottom: 20px;
}

.list-style {
  list-style: none;
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 0;
}

.list-style li {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.about-text {
  color: var(--secondary-color);
  margin-top: 60px;
  margin-bottom: 50px;
}

.about-link {
  text-decoration: none;
  color: var(--main-color);
}

.tour-card {
  background-color: white;
}

.tour-card-heading {
  font-size: 26px;
  
}


@media (max-width: 1200px) {
  .main-heading {
    font-size: 60px;
    margin-top: -350px;
  }
  .quote {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .main-heading {
    font-size: 40px;
    margin-top: -270px;
    margin-bottom: 50px;
  }

  .quote {
    width: 70%;
    font-size: 14px;
  }
  
  .social {
    margin-right: 5px;
  }

  .fa-icon {
    font-size: 1em;
    margin-bottom: 40px;
  }

  .fa-style {
    font-size: 1em;
  }

  .nav-link {
    font-size: 12px;
    padding: 5px;
  }

  .footer {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 20px;
    letter-spacing: 20px;
    margin-top: 70px;
  }

  .quote {
    width: 60%;
    font-size: 12px;
  }

  .fa-icon {
    margin-bottom: 30px;
  }

  .mtop {
    margin-top: 150px;
  }

  h2 {
    font-size: 25px;
  }

  .footer {
    padding: 20px;
  }

  .footer-heading {
    font-size: 20px;
  }

  .list-style li {
    font-size: 10px;
  }
  
}

@media (max-width: 560px) {
  .main-heading {
    margin-top: 60px;
  }
  .quote {
    font-size: 8px;
  }
  .nav-link {
    font-size: 10px; 
  }
}

@media (max-width: 430px) {
  .main-heading {
    margin-top: 140px;
    margin-bottom: 10px;
  }

  .footer {
    padding: 20px;
  }

  .footer-heading {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .list-style {
    justify-content: left;
  }
  .list-style li {
    margin-left: 10px;
  }
}

@media (max-width: 375px) {
  .main-heading {
    font-size: 20px;
    margin-top: 140px;
  }
  .quote {
    font-size: 6px;
  }
  .nav-link {
    font-size: 10px; 
  }
  .fa-icon {
    margin-bottom: 15px;
    font-size: 0.5em;
  }
  h2 {
    font-size: 16px;
  }
  .mtop {
  margin-top: 100px;
  }
  .footer-heading {
    letter-spacing: 20px;
  }
  .list-style {
    margin-bottom: 5px;
  }
  .list-style li {
    font-size: 8px;
  }
  .fa-style {
    font-size: 0.7em;
  }
}