:root {
  --bg-color: #313131;
  --main-color: #ffffff;
  --secondary-color: #979797;
}

body {
  background-color: var(--bg-color);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;;
}

/* .main-heading {
  color: var(--main-color);
  font-size: 48px;
  text-align: center;
  margin-top: -450px;
  margin-bottom: 50px;
} */

.main {
  margin-top: -250px;
}

/* p {
  color: var(--secondary-color);
  font-size: 18px;
  text-align: center;
} */

.active {
  font-size: 22px;
}

.nav-link {
  color: var(--main-color);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.quote {
  width: 30%;
  color: var(--main-color);
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}

.image {
  width: 1100px;
  /* opacity: 0.5; */
}

/* .social {
  position: absolute;
  top: 300px;
  left: 150px;
} */